<p>about works!</p>
<!-- interpolation -->
<p>{{string_1}}</p>
<img [src]="image_1" alt="image_1">
<!-- property binding -->
<img [src]="image_2" alt="image_2" [class]="active ? 'img-fluid' : 'img-fluid img-thumbnail'"> <!-- inline if else (ternary operator)-->
<!-- event binding -->
<button (click)="changeActive()" class="btn btn-primary">Toggle</button>

<div class="mb-3">
    <label for="exampleInputEmail1"   class="form-label">Email address</label>
    <input type="email" (keyup)="onKeyUp($event)" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
</div>
<div class="m-3">
    <input type="text" [(ngModel)]="searchTearm" class="form-control">
</div>
<p>{{searchTearm}}</p>
<h1 *ngIf="searchTearm.length > 3; else anyName">Search Term is greater than 3</h1>
<!-- else is used to show the alternative content when the condition is false -->
 <!-- template is used to create a reusable content -->
<ng-template #anyName>
    <h1>Search Term is less than 3</h1>
</ng-template>
<!-- ngSwitch is used to show the content based on the condition -->
<div [ngSwitch]="searchTearm">
    <p *ngSwitchCase="'apple'">Apple</p>
    <p *ngSwitchCase="'banana'">Banana</p>
    <p *ngSwitchCase="'cherry'">Cherry</p>
    <p *ngSwitchDefault>No fruit</p>
</div>

<p *ngFor="let item of arr">{{item}}</p>